requirements.txt found, instead of Pipfile! Converting…
Warning: Your Pipfile now contains pinned versions, if your requirements.txt did. 
We recommend updating your Pipfile to specify the "*" version, instead.
numpy==1.17.0
pandas==0.25.0
python-dateutil==2.8.0
pytz==2019.2
six==1.12.0
