[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pytest = "*"
flask-migrate = "*"
python-dotenv = "*"
httpie = "*"
flake8 = "*"
flask-httpauth = "*"
flask-login = "*"
httpie-jwt-auth = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
