.App{
    background: url(../assets/gray-wall-textures-background_74190-4389.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    width: 1900px;
    height: 2000px;
    margin: 0 auto;

}

.Header{
    background: url(../assets/gradient.png)repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100px;
    width: 1900px;
    margin: 0 auto;
}


