
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "graph graph graph-two graph-two" "graph graph graph-two graph-two";
  }
  
  .graph {
    display: grid;
    grid-template-columns: 1fr 0fr 0fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . ." ". . .";
    grid-area: graph;
  }
  
  .graph-two {
    display: grid;
    grid-template-columns: 1fr 0fr 0fr;
    grid-template-rows: 1fr 0fr;
    grid-template-areas: ". . ." ". . .";
    grid-area: graph-two;
  }
  