
  .Header{
    box-sizing: border-box;
    padding: 150px;
    padding-top: 20px;
    margin-bottom: 100px;
    border-bottom: 5px solid black;
   
    color:rgb(19, 11, 11);
    position: relative;
    // overflow: hidden;

  }

  h1 {
    color: whitesmoke;
    text-align:center;
    font-size: 150px;
    z-index: 3;
    font-family: $font_std;
  }


  .graph {
    width: 50%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    background-color: #bbbbbbcc;
    // margin-left: 100px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px $black;
  }


.graph-two {
    width: 50%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    background-color: #bbbbbbcc;
    // margin-left: 100px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px $black;
    margin-left: 5%;
  }

.nlp{
    display: block;
    z-index: 3;
    width: 500px;
    padding-top: .5vh;
    margin: 0 auto;
}
